<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                nav { margin-bottom: 20px; }
                nav a { margin-right: 10px; }
            </style>
        {% endblock %}
    </head>
    <body>
        <nav>
        {% if app.user %}
            <a href="{{ path('user_list') }}">List of Users</a>
            <a href="{{ path('algorithm') }}">Results of algorithm</a>
            <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>